<footer class="main-footer">
    <strong>Copyright &copy; 2020</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../dist/js/demo.js"></script>
<script>
  $(function() {
    $(".chnage_ustatus").on("click",function(){
      var check= confirm("Are You Sure!");
      if(check){
        var id=$(this).data("id");
      if(id == 1){
        var status= 0;
      }else{
        var status=1;
      }
      var email=$(this).data("value");
      $.ajax({
      type: "POST",
        url: "/admin/change_status",
        data: {"status": status , "email": email},
        success: function(r){
          alert("Record Saved");
           location.reload();
        
        }
    });
      }
    
    })



    $(".chnage_course_status").on("click",function(){
      var check= confirm("Are You Sure!");
      if(check){
        var id=$(this).data("id");
      if(id == 1){
        var status= 0;
      }else{
        var status=1;
      }
      var id=$(this).data("value");
      $.ajax({
      type: "POST",
        url: "/admin/change_coursestatus",
        data: {"status": status , "id": id},
        success: function(r){
          alert("Record Updated!");
           location.reload();
        
        }
    });
      }
    
    })


  })


  $(document).ready(function(){


    // for Video upload  //
    $("#add_lectures").on("submit",function(e){
      e.preventDefault();
      var checkinput=$("#courseintro").val();
      if(checkinput != ''){
        var formData =  new FormData(this);
      $.ajax({
      type: "POST",
        url: "/admin/add-lectures",
        data: formData,
        processData: false,
        contentType: false,
        error:function(eee){
              $('#uploadStatus').html('<p style="color:#EA4335;">File upload failed,Must be A Video File! Please try again.</p>');
            },
        success: function(r){
            if(r == 'true'){
                $('#uploadStatus').html('<p style="color:#28A74B;">File has uploaded successfully!</p>');
                alert("File has uploaded successfully!");
                location.reload();
            }else{
              alert("File upload failed, please try again.");
              location.reload();
                $('#uploadStatus').html('<p style="color:#EA4335;">File upload failed, please try again.</p>');
            }
        
        }
    });
      }else{
          alert("Please Select A Video!");
      }
      
    })
  })
</script>
</body>
</html>
