<%- include header.ejs %>

<div class="container lms-profile-container">
<div class="col-lg-12">
<div class="learnpress">


	<div id="learn-press-user-profile" class="lp-user-profile guest has-sidebar row">

		<div class="row w-100">
<div class="col-md-6 mx-auto">
<div class="learn-press-form-login learn-press-form">

    <h3>Login</h3>

	
    <form name="learn-press-login" method="post" action="/admin/login">

		
        <ul class="form-fields">
			<% if ( typeof(message) !='undefined') { %>
				<p  class='description'><h4 style="color: red;"><%=message   %></h4></p>
			
			<% } %>
			                <li class="form-field">
					<div class="rwmb-field rwmb-text-wrapper "><div class="rwmb-field rwmb-text-wrapper ">
					<label for="username">Email</label>
					
				</div><div class="rwmb-field rwmb-text-wrapper "><input  size="30" placeholder=" Enter email" type="email" required id="email" class="rwmb-field rwmb-text-wrapper " name="email"></div>
				
				</div>                </li>
			                <li class="form-field">
					<div class="rwmb-field rwmb-password-wrapper "><div class="rwmb-field rwmb-password-wrapper ">
					<label for="password">Password</label>
					
				</div><div class="rwmb-field rwmb-password-wrapper "><input  size="30" placeholder="Enter Password" type="password" required id="password" class="rwmb-field rwmb-password-wrapper " name="password"></div>
				</div>                </li>
			        </ul>

		        <div>
            <label>
                <input type="checkbox" name="rememberme"/>
				Remember me            </label> 
			</div>
        <p>
            <input type="hidden" name="learn-press-login-nonce"
                   value="9893ac5460">
            <button type="submit">Login</button>
        </p>
        <p>
            <a href="reset-password.html">Lost your password?</a>
        </p>
    </form>

	
</div>
</div>

</div>

	</div>

</div>
</div>
</div>


<%- include footer.ejs %>