<%- include header.ejs %>
      <!-- inner banner section -->
      <div class="vultur_banner" style="background: url(./assets/images/about-global.jpg);">
         <div class="container">
            <div class="row">
               <div class="vultur_banner_title  header-area">
                  <!-- <div class="header-area-inner header-text"><span class="subtitle ">Online Coaching Lessons</span></div> -->
                  <h1>IMPROVING LIVES THROUGH LEARNING</h1>
                  <div class="vultur_breadcrumb">
                     <!-- <div class="breadcrumbs">
                        <span class="first-item">
                        <a href="/">Homepage</a></span>
                        <span class="separator">&gt;</span>
                        <span class="last-item">About Us</span>
                     </div> -->
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- inner banner section -->
      <!-- main content -->
      <section class="fw-main-row " style="background-color:#faf8f6;">
         <div class="fw-container">
            <div class="fw-row">
               <div class="fw-col-xs-12">
                  <div class="fw-divider-space" style="padding-top: 80px;"></div>
               </div>
            </div>
            <div class="fw-row">
               <div class="fw-col-xs-12 fw-col-sm-4">
                  <div class="fw-iconbox clearfix fw-iconbox-1">
                     <div class="fw-iconbox-image">
                        <i class="fa fa-desktop"></i>
                     </div>
                     <div class="fw-iconbox-aside">
                        <div class="fw-iconbox-title">
                           <h3>Learn the latest skills</h3>
                        </div>
                        <div class="fw-iconbox-text">
                           <p>-like business analytics,
                              Digital marketing, graphic design, Python, and more
                              .
                              </p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="fw-col-xs-12 fw-col-sm-4">
                  <div class="fw-iconbox clearfix fw-iconbox-1">
                     <div class="fw-iconbox-image">
                        <i class="fa fa-university"></i>
                     </div>
                     <div class="fw-iconbox-aside">
                        <div class="fw-iconbox-title">
                           <h3>Get ready for a career</h3>
                        </div>
                        <div class="fw-iconbox-text">
                           <p>in high-demand fields like
                              IT, DIGITAL MARKETING, AI, DESIGNING ETC.
                              
                              </p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="fw-col-xs-12 fw-col-sm-4">
                  <div class="fw-iconbox clearfix fw-iconbox-1">
                     <div class="fw-iconbox-image">
                        <i class="fa fa-group"></i>
                     </div>
                     <div class="fw-iconbox-aside">
                        <div class="fw-iconbox-title">
                           <h3>Upskill your organization</h3>
                        </div>
                        <div class="fw-iconbox-text">
                           <p>with on-demand training and development programs / Courses.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="fw-main-row " style="background-color:#faf8f6;">
         <div class="fw-container">
            <div class="fw-row">
               <div class="fw-col-xs-12 fw-col-sm-4">
                  <div class="fw-iconbox clearfix fw-iconbox-1">
                     <div class="fw-iconbox-image">
                        <i class="fa fa-university"></i>
                     </div>
                     <div class="fw-iconbox-aside">
                        <div class="fw-iconbox-title">
                           <h3>Transforming lives</h3>
                        </div>
                        <div class="fw-iconbox-text">
                           <p>Talent is universal, opportunities are not. With acces to Ubuddys online learning resources, anyone, anywhere can gain skills, and transform their lives.</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="fw-col-xs-12 fw-col-sm-4">
                  <div class="fw-iconbox clearfix fw-iconbox-1">
                     <div class="fw-iconbox-image">
                        <i class="fa fa-group"></i>
                     </div>
                     <div class="fw-iconbox-aside">
                        <div class="fw-iconbox-title">
                           <h3>Our Marketplace</h3>
                        </div>
                        <div class="fw-iconbox-text">
                           <p>We belive that world’s best teachers aren’t always found in classrooms. Ubuddys Instructors virtually come from different places and offer courses in different languages.</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="fw-col-xs-12 fw-col-sm-4">
                  <div class="fw-iconbox clearfix fw-iconbox-1">
                     <div class="fw-iconbox-image">
                        <i class="fa fa-desktop"></i>
                     </div>
                     <div class="fw-iconbox-aside">
                        <div class="fw-iconbox-title">
                           <h3>Our Instructors</h3>
                        </div>
                        <div class="fw-iconbox-text">
                           <p>Ubuddys Instructors are passionate about sharing their knowledge and helping students. Our instructors are experts who stay active in their fields and serve their best.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="fw-row">
               <div class="fw-col-xs-12">
                  <div class="fw-divider-space" style="padding-top: 80px;"></div>
               </div>
            </div>
         </div>
      </section>
      <!-- upgrade your skills -->
      <section class="fw-main-row ">
         <div class="fw-container">
            <div class="fw-row">
               <div class="fw-col-xs-12">
                  <div class="fw-divider-space" style="padding-top: 80px;"></div>
               </div>
            </div>
            <div class="fw-row">
               <div class="fw-col-xs-12">
                  <div class="row position-center">
                     <div class="col-lg-12">
                        <div class="section-title">
                           <h2>Staying ahead of the future of work &amp; Upgrade Your Skills</h2>
                           <p>Learn from any location in the world. Study at a time and place that suits your schedule. Take complete control over your education Upgrade Your Skills.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="fw-row">
               <div class="fw-col-xs-12">
                  <div class="fw-divider-space" style="padding-top: 80px;"></div>
               </div>
            </div>
            <div class="fw-row">
               <div class="fw-col-xs-12 fw-col-sm-6">
                  <img src="./assets/images/about.png" alt="about.png">
                  <div class="fw-divider-space" style="padding-top: 40px;"></div>
               </div>
               <div class="fw-col-xs-12 fw-col-sm-6">
                  <h5>01. Purchase lifetime license of the Product?</h5>
                  <p>Ubuddys provide lifetime license permissions to the people who becomes our customers. We provide lifetime access of all the products and services to our customers once purchased.</p>
                  <h5>02. How Browsing and Membership Works?</h5>
                  <p>If a person enroll in any course. Then he becomes our member and will get the life time membership access of that specific course. If in future the person forget anything in the course. So the person can come to our website and see that course for free.</p>
                  <h5>03. Get Live Chat Support</h5>
                  <p>After purchasing our any product , if a student has any kind of doubt , then he can get answers of his questions through our live chat support option.<br>
                     To ensure a customer that ubuddys team is always available for their service.
                  </p>
               </div>
            </div>
            <div class="fw-row">
               <div class="fw-col-xs-12">
                  <div class="fw-divider-space" style="padding-top: 80px;"></div>
               </div>
            </div>
            <div class="fw-row">
               <div class="fw-col-xs-12 fw-col-sm-6">
                  <h5>Purchase lifetime license of the Product?</h5>
                  <p>Ubuddys provide lifetime license permissions to the people who becomes our customers. We provide lifetime access of all the products and services to our customers once purchased.</p>
                  <h5>How Browsing and Membership Works?</h5>
                  <p>If a person enroll in any course. Then he becomes our member and will get the life time membership access of that specific course. If in future the person forget anything in the course. So the person can come to our website and see that course for free.</p>
                  <h5>Get Live Chat Support</h5>
                  <p>After purchasing our any product , if a student has any kind of doubt , then he can get answers of his questions through our live chat support option.<br>
                     To ensure a customer that ubuddys team is always available for their service.
                  </p>
               </div>
               <div class="fw-col-xs-12 fw-col-sm-6">
                  <img src="./assets/images/illustrator3.png" alt="illustrator3.png">
                  <div class="fw-divider-space" style="padding-top: 100px;"></div>
               </div>
            </div>
         </div>
      </section>
      <!-- upgrade your skills -->
      <!-- learn new skills -->
      <section class="fw-main-row ">
         <div class="fw-container-fluid">
            <div class="fw-row">
               <div class="fw-col-xs-12">
                  <div id="counter" class="layout3 wrap-bg">
                     <div class="container">
                        <div class="row">
                           <div class="col-lg-5">
                              <div class="row position-left">
                                 <div class="col-lg-12">
                                    <div class="section-title with-p color-dark">
                                       <div class="section-title-uppercase">learn something new</div>
                                       <h2>Learn from any location in the world with Ubuddys Online Courses</h2>
                                       <ul>
                                          <li>
                                          	More Than 10000 Students Enrolled.
                                          </li>
                                          <li>
                                          Certified Counsellors in their departments.
                                          </li>
                                          <li>
                                          	Variety Of Courses.
                                             </li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-1"></div>
                           <div class="col-lg-6">
                              <div class="row">
                                 <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="info">
                                       <div class="themeioan_counter color-dark">
                                          <i class=" fa-3x"></i>
                                          <h4>71</h4>
                                          <p>Program Awards</p>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="info">
                                       <div class="themeioan_counter color-dark">
                                          <i class=" fa-3x"></i>
                                          <h4>40</h4>
                                          <p>Certified Teachers</p>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="info">
                                       <div class="themeioan_counter color-dark">
                                          <i class=" fa-3x"></i>
                                          <h4>28</h4>
                                          <p>Students Enrolled</p>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="info">
                                       <div class="themeioan_counter color-dark">
                                          <i class=" fa-3x"></i>
                                          <h4>33</h4>
                                          <p>Complete Courses</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- learn new skills -->
      <!-- newsletter section -->
      <section class="fw-main-row " style="background-color:#faf8f6;">
         <div class="fw-container-fluid">
            <div class="fw-row">
               <div class="fw-col-xs-12">
                  <div id="instructor" class="call-to-action-area bg-widget position-center" style="background-image:url(./assets/images/newsletter-shape.png);">
                     <div class="container">
                        <div class="row justify-content-center">
                           <div class="col-md-7">
                              <div class="call-to-action-content color-dark">
                                 <div class="newsletter-content">
                                    <h2>Sign up for our newsletter</h2>
                                 </div>
                                 <div>
                                    <p>He found himself transformed in his bed into a horrible vermin.</p>
                                    <script>(function() {
                                       window.mc4wp = window.mc4wp || {
                                          listeners: [],
                                          forms: {
                                             on: function(evt, cb) {
                                                window.mc4wp.listeners.push(
                                                   {
                                                      event   : evt,
                                                      callback: cb
                                                   }
                                                );
                                             }
                                          }
                                       }
                                       })();
                                    </script><!-- Mailchimp for WordPress v4.7.7 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
                                    <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-6218" method="post" data-id="6218" data-name="ThemeIoan">
                                       <div class="mc4wp-form-fields"><input type="email" name="EMAIL" placeholder="Your email address" required="">
                                          <input type="submit" value="Sign up">
                                       </div>
                                       <label style="display: none !important;">Leave this field empty if you're human: <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off"></label><input type="hidden" name="_mc4wp_timestamp" value="1591438023"><input type="hidden" name="_mc4wp_form_id" value="6218"><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1">
                                       <div class="mc4wp-response"></div>
                                    </form>
                                    <!-- / Mailchimp for WordPress Plugin -->                                            
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- newsletter section -->
      <!-- main content -->
      <%- include footer.ejs %>