<%- include header.ejs %>
      <div class="vultur_banner" style="background: url(./assets/images/breadcrumb-shop.jpg);">
         <div class="container">
             <div class="row">
                 <div class="vultur_banner_title">
             <h1>Cart</h1>
                     <div class="vultur_breadcrumb">
<div class="breadcrumbs">
                        <span class="first-item">
                        <a href="../index.html">Homepage</a></span>
                     <span class="separator">&gt;</span>
                                 <span class="last-item">Cart</span>
               </div>
</div>                    </div>
             </div>
         </div>
	 </div>
	 <div class="page-template-default page page-id-330 theme-vultur woocommerce-cart woocommerce-page" > 
	 <div id="primary" class="content-area ">
		<main id="main" class="site-main">
		    <div class="container">
		      <div class="row">

			      
				      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			      <article id="post-330" class="post-330 page type-page status-publish hentry">
	<section class="fw-main-row ">
<div class="fw-container">
<div class="fw-row">
<div class="fw-col-xs-12"><div class="woocommerce"><div class="woocommerce-notices-wrapper"></div>
<form class="woocommerce-cart-form" action="https://vultur.drozd.at/cart/" method="post">
	
	<table class="shop_table shop_table_responsive cart woocommerce-cart-form__contents" cellspacing="0">
		<thead>
			<tr>
				<th class="product-thumbnail">Image</th>
				<th class="product-name">Product</th>
				<th class="product-price">Price</th>
				<th class="product-quantity">Quantity</th>
				<th class="product-subtotal">Total</th>
				<th class="product-remove">Remove</th>
			</tr>
		</thead>
		<tbody>
											<tr class="woocommerce-cart-form__cart-item cart_item">
						<td class="product-thumbnail" data-title="Product Image">
						<a href="../product/bio-bag-for-company/index.html"><img width="300" height="300" src="../wp-content/uploads/2018/04/1-2-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="https://vultur.drozd.at/wp-content/uploads/2018/04/1-2-300x300.jpg 300w, https://vultur.drozd.at/wp-content/uploads/2018/04/1-2-100x100.jpg 100w, https://vultur.drozd.at/wp-content/uploads/2018/04/1-2-450x450.jpg 450w, https://vultur.drozd.at/wp-content/uploads/2018/04/1-2-150x150.jpg 150w, https://vultur.drozd.at/wp-content/uploads/2018/04/1-2.jpg 575w" sizes="(max-width: 300px) 100vw, 300px"></a>						</td>
						<td class="product-name" data-title="Product">
						<a href="../product/bio-bag-for-company/index.html">Bio Bag for Company</a>						</td>
						<td class="product-price" data-title="Price">
							<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>58.00</span>						</td>
						<td class="product-quantity" data-title="Quantity">
							<div class="quantity">
				<label class="screen-reader-text" for="quantity_5edb73aa55f21">Bio Bag for Company quantity</label>
		<input type="number" id="quantity_5edb73aa55f21" class="input-text qty text" step="1" min="0" max="" name="cart[ffd52f3c7e12435a724a8f30fddadd9c][qty]" value="1" title="Qty" size="4" placeholder="" inputmode="numeric">
			</div>
							</td>
						<td class="product-subtotal" data-title="Total">
							<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>58.00</span>						</td>
						<td class="product-remove">
							<a href="index04b8.html?remove_item=ffd52f3c7e12435a724a8f30fddadd9c&amp;_wpnonce=bbee12b684" class="remove" aria-label="Remove this item" data-product_id="373" data-product_sku="bio-bag-for-company">×</a>						</td>
					</tr>
										<tr class="woocommerce-cart-form__cart-item cart_item">
						<td class="product-thumbnail" data-title="Product Image">
						<a href="../product/business-card-10/index.html"><img width="300" height="300" src="../wp-content/uploads/2018/04/4-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="https://vultur.drozd.at/wp-content/uploads/2018/04/4-300x300.jpg 300w, https://vultur.drozd.at/wp-content/uploads/2018/04/4-100x100.jpg 100w, https://vultur.drozd.at/wp-content/uploads/2018/04/4-450x450.jpg 450w, https://vultur.drozd.at/wp-content/uploads/2018/04/4-150x150.jpg 150w, https://vultur.drozd.at/wp-content/uploads/2018/04/4.jpg 575w" sizes="(max-width: 300px) 100vw, 300px"></a>						</td>
						<td class="product-name" data-title="Product">
						<a href="../product/business-card-10/index.html">Business Card 10</a>						</td>
						<td class="product-price" data-title="Price">
							<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>55.00</span>						</td>
						<td class="product-quantity" data-title="Quantity">
							<div class="quantity">
				<label class="screen-reader-text" for="quantity_5edb73aa569e0">Business Card 10 quantity</label>
		<input type="number" id="quantity_5edb73aa569e0" class="input-text qty text" step="1" min="0" max="" name="cart[ad972f10e0800b49d76fed33a21f6698][qty]" value="1" title="Qty" size="4" placeholder="" inputmode="numeric">
			</div>
							</td>
						<td class="product-subtotal" data-title="Total">
							<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>55.00</span>						</td>
						<td class="product-remove">
							<a href="indexf2eb.html?remove_item=ad972f10e0800b49d76fed33a21f6698&amp;_wpnonce=bbee12b684" class="remove" aria-label="Remove this item" data-product_id="374" data-product_sku="business-card">×</a>						</td>
					</tr>
										<tr class="woocommerce-cart-form__cart-item cart_item">
						<td class="product-thumbnail" data-title="Product Image">
						<a href="../product/business-flyer-template/index.html"><img width="300" height="300" src="../wp-content/uploads/2018/04/2-3-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="https://vultur.drozd.at/wp-content/uploads/2018/04/2-3-300x300.jpg 300w, https://vultur.drozd.at/wp-content/uploads/2018/04/2-3-100x100.jpg 100w, https://vultur.drozd.at/wp-content/uploads/2018/04/2-3-450x450.jpg 450w, https://vultur.drozd.at/wp-content/uploads/2018/04/2-3-150x150.jpg 150w, https://vultur.drozd.at/wp-content/uploads/2018/04/2-3.jpg 575w" sizes="(max-width: 300px) 100vw, 300px"></a>						</td>
						<td class="product-name" data-title="Product">
						<a href="../product/business-flyer-template/index.html">Business Flyer</a>						</td>
						<td class="product-price" data-title="Price">
							<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>37.00</span>						</td>
						<td class="product-quantity" data-title="Quantity">
							<div class="quantity">
				<label class="screen-reader-text" for="quantity_5edb73aa570f1">Business Flyer quantity</label>
		<input type="number" id="quantity_5edb73aa570f1" class="input-text qty text" step="1" min="0" max="" name="cart[f61d6947467ccd3aa5af24db320235dd][qty]" value="1" title="Qty" size="4" placeholder="" inputmode="numeric">
			</div>
							</td>
						<td class="product-subtotal" data-title="Total">
							<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>37.00</span>						</td>
						<td class="product-remove">
							<a href="index9d30.html?remove_item=f61d6947467ccd3aa5af24db320235dd&amp;_wpnonce=bbee12b684" class="remove" aria-label="Remove this item" data-product_id="375" data-product_sku="business-flyer-template">×</a>						</td>
					</tr>
										<tr class="woocommerce-cart-form__cart-item cart_item">
						<td class="product-thumbnail" data-title="Product Image">
						<a href="../product/calendar-for-office/index.html"><img width="300" height="300" src="../wp-content/uploads/2018/04/1-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="https://vultur.drozd.at/wp-content/uploads/2018/04/1-300x300.jpg 300w, https://vultur.drozd.at/wp-content/uploads/2018/04/1-100x100.jpg 100w, https://vultur.drozd.at/wp-content/uploads/2018/04/1-450x450.jpg 450w, https://vultur.drozd.at/wp-content/uploads/2018/04/1-150x150.jpg 150w, https://vultur.drozd.at/wp-content/uploads/2018/04/1.jpg 575w" sizes="(max-width: 300px) 100vw, 300px"></a>						</td>
						<td class="product-name" data-title="Product">
						<a href="../product/calendar-for-office/index.html">Calendar for Office</a>						</td>
						<td class="product-price" data-title="Price">
							<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>136.00</span>						</td>
						<td class="product-quantity" data-title="Quantity">
							<div class="quantity">
				<label class="screen-reader-text" for="quantity_5edb73aa57b13">Calendar for Office quantity</label>
		<input type="number" id="quantity_5edb73aa57b13" class="input-text qty text" step="1" min="0" max="" name="cart[a96b65a721e561e1e3de768ac819ffbb][qty]" value="1" title="Qty" size="4" placeholder="" inputmode="numeric">
			</div>
							</td>
						<td class="product-subtotal" data-title="Total">
							<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>136.00</span>						</td>
						<td class="product-remove">
							<a href="index427a.html?remove_item=a96b65a721e561e1e3de768ac819ffbb&amp;_wpnonce=bbee12b684" class="remove" aria-label="Remove this item" data-product_id="409" data-product_sku="calendar-for-office">×</a>						</td>
					</tr>
										<tr class="woocommerce-cart-form__cart-item cart_item">
						<td class="product-thumbnail" data-title="Product Image">
						<a href="../product/corporate-flyer/index.html"><img width="300" height="300" src="../wp-content/uploads/2018/04/1-3-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="https://vultur.drozd.at/wp-content/uploads/2018/04/1-3-300x300.jpg 300w, https://vultur.drozd.at/wp-content/uploads/2018/04/1-3-100x100.jpg 100w, https://vultur.drozd.at/wp-content/uploads/2018/04/1-3-450x450.jpg 450w, https://vultur.drozd.at/wp-content/uploads/2018/04/1-3-150x150.jpg 150w, https://vultur.drozd.at/wp-content/uploads/2018/04/1-3.jpg 575w" sizes="(max-width: 300px) 100vw, 300px"></a>						</td>
						<td class="product-name" data-title="Product">
						<a href="../product/corporate-flyer/index.html">Corporate Flyer</a>						</td>
						<td class="product-price" data-title="Price">
							<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>67.00</span>						</td>
						<td class="product-quantity" data-title="Quantity">
							<div class="quantity">
				<label class="screen-reader-text" for="quantity_5edb73aa5822e">Corporate Flyer quantity</label>
		<input type="number" id="quantity_5edb73aa5822e" class="input-text qty text" step="1" min="0" max="" name="cart[24b16fede9a67c9251d3e7c7161c83ac][qty]" value="1" title="Qty" size="4" placeholder="" inputmode="numeric">
			</div>
							</td>
						<td class="product-subtotal" data-title="Total">
							<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>67.00</span>						</td>
						<td class="product-remove">
							<a href="indexd5cb.html?remove_item=24b16fede9a67c9251d3e7c7161c83ac&amp;_wpnonce=bbee12b684" class="remove" aria-label="Remove this item" data-product_id="372" data-product_sku="corporate-flyer">×</a>						</td>
					</tr>
										<tr class="woocommerce-cart-form__cart-item cart_item">
						<td class="product-thumbnail" data-title="Product Image">
						<a href="../product/corporate-roll-up/index.html"><img width="300" height="300" src="../wp-content/uploads/2018/04/ticket-2-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="https://vultur.drozd.at/wp-content/uploads/2018/04/ticket-2-300x300.jpg 300w, https://vultur.drozd.at/wp-content/uploads/2018/04/ticket-2-100x100.jpg 100w, https://vultur.drozd.at/wp-content/uploads/2018/04/ticket-2-450x450.jpg 450w, https://vultur.drozd.at/wp-content/uploads/2018/04/ticket-2-150x150.jpg 150w, https://vultur.drozd.at/wp-content/uploads/2018/04/ticket-2.jpg 575w" sizes="(max-width: 300px) 100vw, 300px"></a>						</td>
						<td class="product-name" data-title="Product">
						<a href="../product/corporate-roll-up/index.html">Corporate Roll Up</a>						</td>
						<td class="product-price" data-title="Price">
							<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>53.00</span>						</td>
						<td class="product-quantity" data-title="Quantity">
							<div class="quantity">
				<label class="screen-reader-text" for="quantity_5edb73aa58a9b">Corporate Roll Up quantity</label>
		<input type="number" id="quantity_5edb73aa58a9b" class="input-text qty text" step="1" min="0" max="" name="cart[23ad3e314e2a2b43b4c720507cec0723][qty]" value="1" title="Qty" size="4" placeholder="" inputmode="numeric">
			</div>
							</td>
						<td class="product-subtotal" data-title="Total">
							<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>53.00</span>						</td>
						<td class="product-remove">
							<a href="index4a84.html?remove_item=23ad3e314e2a2b43b4c720507cec0723&amp;_wpnonce=bbee12b684" class="remove" aria-label="Remove this item" data-product_id="1416" data-product_sku="corporate-roll-up">×</a>						</td>
					</tr>
										<tr class="woocommerce-cart-form__cart-item cart_item">
						<td class="product-thumbnail" data-title="Product Image">
						<a href="../product/digital-art-3d-model/index.html"><img width="300" height="300" src="../wp-content/uploads/2018/04/2-1-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="https://vultur.drozd.at/wp-content/uploads/2018/04/2-1-300x300.jpg 300w, https://vultur.drozd.at/wp-content/uploads/2018/04/2-1-100x100.jpg 100w, https://vultur.drozd.at/wp-content/uploads/2018/04/2-1-450x450.jpg 450w, https://vultur.drozd.at/wp-content/uploads/2018/04/2-1-150x150.jpg 150w, https://vultur.drozd.at/wp-content/uploads/2018/04/2-1.jpg 575w" sizes="(max-width: 300px) 100vw, 300px"></a>						</td>
						<td class="product-name" data-title="Product">
						<a href="../product/digital-art-3d-model/index.html">Digital Art &amp; 3D Model</a>						</td>
						<td class="product-price" data-title="Price">
							<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>69.00</span>						</td>
						<td class="product-quantity" data-title="Quantity">
							<div class="quantity">
				<label class="screen-reader-text" for="quantity_5edb73aa59104">Digital Art &amp; 3D Model quantity</label>
		<input type="number" id="quantity_5edb73aa59104" class="input-text qty text" step="1" min="0" max="" name="cart[142949df56ea8ae0be8b5306971900a4][qty]" value="2" title="Qty" size="4" placeholder="" inputmode="numeric">
			</div>
							</td>
						<td class="product-subtotal" data-title="Total">
							<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>138.00</span>						</td>
						<td class="product-remove">
							<a href="index76b0.html?remove_item=142949df56ea8ae0be8b5306971900a4&amp;_wpnonce=bbee12b684" class="remove" aria-label="Remove this item" data-product_id="376" data-product_sku="digital-art-3d-model">×</a>						</td>
					</tr>
										<tr class="woocommerce-cart-form__cart-item cart_item">
						<td class="product-thumbnail" data-title="Product Image">
						<a href="../product/paper-bag-130/index.html"><img width="300" height="300" src="../wp-content/uploads/2018/04/2-2-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="https://vultur.drozd.at/wp-content/uploads/2018/04/2-2-300x300.jpg 300w, https://vultur.drozd.at/wp-content/uploads/2018/04/2-2-100x100.jpg 100w, https://vultur.drozd.at/wp-content/uploads/2018/04/2-2-450x450.jpg 450w, https://vultur.drozd.at/wp-content/uploads/2018/04/2-2-150x150.jpg 150w, https://vultur.drozd.at/wp-content/uploads/2018/04/2-2.jpg 575w" sizes="(max-width: 300px) 100vw, 300px"></a>						</td>
						<td class="product-name" data-title="Product">
						<a href="../product/paper-bag-130/index.html">Paper Bag 130</a>						</td>
						<td class="product-price" data-title="Price">
							<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>36.00</span>						</td>
						<td class="product-quantity" data-title="Quantity">
							<div class="quantity">
				<label class="screen-reader-text" for="quantity_5edb73aa599bb">Paper Bag 130 quantity</label>
		<input type="number" id="quantity_5edb73aa599bb" class="input-text qty text" step="1" min="0" max="" name="cart[d709f38ef758b5066ef31b18039b8ce5][qty]" value="1" title="Qty" size="4" placeholder="" inputmode="numeric">
			</div>
							</td>
						<td class="product-subtotal" data-title="Total">
							<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>36.00</span>						</td>
						<td class="product-remove">
							<a href="indexfb5b.html?remove_item=d709f38ef758b5066ef31b18039b8ce5&amp;_wpnonce=bbee12b684" class="remove" aria-label="Remove this item" data-product_id="370" data-product_sku="paper-bag-130">×</a>						</td>
					</tr>
											<tr>
				<td colspan="6" class="actions">
											<div class="coupon">
							<label for="coupon_code">Coupon:</label> <input type="text" name="coupon_code" class="input-text" id="coupon_code" value="" placeholder="Coupon code"> <button type="submit" class="button" name="apply_coupon" value="Apply coupon">Apply coupon</button>
													</div>
										<button type="submit" class="button" name="update_cart" value="Update cart" disabled="">Update cart</button>
										<input type="hidden" id="woocommerce-cart-nonce" name="woocommerce-cart-nonce" value="bbee12b684"><input type="hidden" name="_wp_http_referer" value="/cart/?remove_item=8efb100a295c0c690931222ff4467bb8&amp;_wpnonce=86abaaa724">				</td>
			</tr>
					</tbody>
	</table>
	</form>


<div class="cart-collaterals">
	<div class="cart_totals ">

	
	<h2>Cart totals</h2>

	<table cellspacing="0" class="shop_table shop_table_responsive">

		<tbody><tr class="cart-subtotal">
			<th>Subtotal</th>
			<td data-title="Subtotal"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>580.00</span></td>
		</tr>

		
		
		
		
		
		<tr class="order-total">
			<th>Total</th>
			<td data-title="Total"><strong><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>580.00</span></strong> </td>
		</tr>

		
	</tbody></table>

	<div class="wc-proceed-to-checkout">
		
<a href="../checkout/index.html" class="checkout-button button alt wc-forward">
	Proceed to checkout</a>
	</div>

	
</div>
</div>

</div></div>
</div>
</div>
</section>
<p><!-- 2dfbb41668c765c5f5a90aead5d777d4 --></p>
</article>		  </div>
			    
				    				    
			    

       </div>
    </div>
 </main>
</div>
</div>  
<%- include footer.ejs %>