<%- include header.ejs %>
      <!-- contact us page header -->
      <div class="vultur_banner" style="background: url(./assets/images/event-scaled.jpg);">
         <div class="container">
            <div class="row">
               <div class="vultur_banner_title">
                  <h1></h1>
                  <div class="vultur_breadcrumb">
                     <div class="breadcrumbs">
                        <span class="first-item"></span>
                        <span class="last-item"></span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- contact us page header -->
      <!-- main content area -->
      <div class="si_fullwidth_page">
         <div class="fw-page-builder-content">
            <section class="fw-main-row ">
               <div class="fw-container-fluid">
                  <div class="fw-row">
                     <div class="fw-col-xs-12">
                        <div class="wrap-bg">
                           <div class="container">
                              <div class="vultur_contact_box">
                                 <div class="row position-left">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                       <div class="section-title vultur_contact_info padding-right70">
                                          <div class="intro-title">Contact</div>
                                          <h2>Send Us a Message</h2>
                                          <p>We are waiting for you on our office in London or in way, contact us via the contact form below your idea.</p>
                                          <div class="wpcf7">
                                             <div role="form" class="wpcf7" id="wpcf7-f224-p3282-o1" lang="en-US" dir="ltr">
                                                <div class="screen-reader-response" aria-live="polite"></div>
                                                <form  method="post" class="wpcf7-form" novalidate="novalidate">
                                                   <div style="display: none;">
                                                      <input type="hidden" name="_wpcf7" value="224">
                                                      <input type="hidden" name="_wpcf7_version" value="5.1.9">
                                                      <input type="hidden" name="_wpcf7_locale" value="en_US">
                                                      <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f224-p3282-o1">
                                                      <input type="hidden" name="_wpcf7_container_post" value="3282">
                                                   </div>
                                                   <div class="row">
                                                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                         <span class="wpcf7-form-control-wrap text-498"><input type="text" name="text-498" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required require" aria-required="true" aria-invalid="false" placeholder="Your Name"></span>
                                                      </div>
                                                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                         <span class="wpcf7-form-control-wrap email-213"><input type="email" name="email-213" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email require" aria-required="true" aria-invalid="false" placeholder="Your Email"></span>
                                                      </div>
                                                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                         <span class="wpcf7-form-control-wrap text-951"><input type="text" name="text-951" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required require" aria-required="true" aria-invalid="false" placeholder="Subject"></span>
                                                      </div>
                                                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sl-contact-message">
                                                         <span class="wpcf7-form-control-wrap textarea-641"><textarea name="textarea-641" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required require" aria-required="true" aria-invalid="false" placeholder="Message"></textarea></span>
                                                      </div>
                                                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                         <input type="submit" value="Send Message" class="wpcf7-form-control wpcf7-submit prt_btn submitForm"><span class="ajax-loader"></span>
                                                      </div>
                                                   </div>
                                                   <div class="wpcf7-response-output wpcf7-display-none" aria-hidden="true"></div>
                                                </form>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                       <img src="./assets/images/contact-illu-538x600.png" alt="">
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="vultur_contact_map">
                           <p><iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7220.232161953828!2d55.26833443106293!3d25.199307553898453!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f4280e329f9f1%3A0x7c357a64c2cca1f1!2sBurj%20Khalifa!5e0!3m2!1sde!2sat!4v1573116784841!5m2!1sde!2sat" width="600" height="450" allowfullscreen="allowfullscreen"></iframe></p>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
         </div>
      </div>
      <!-- main content area -->
      <%- include footer.ejs %>