<footer id="footer" class="wrap-bg-secondary">
    <div class="footer-top">
       <div class="container">
          <div class="row">
             <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="footer-logo">
                   <img src="../assets/images/logo-footer.png" alt="Logo">
                </div>
                <div class="f-widget-title">
                </div>
                <div class="footer-text">
                   <p>We build powerful and easy to use WordPress Themes, sell high quality coaching courses online. </p>
                </div>
                <div class="icon-round-white footer-social mt-25">
                   <a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>                    
                </div>
             </div>
             <div class="col-xl-3 col-lg-3 col-sm-6">
                <div class="f-widget-link">
                   <div id="nav_menu-2" class="widget widget_nav_menu">
                      <div class="f-widget-title">
                         <h4>Explore Courses</h4>
                      </div>
                      <div class="menu-footer-menu-container">
                         <ul id="menu-footer-menu" class="menu">
                            <li class="menu-item  "><a href="#">Become a Teacher</a></li>
                            <li  class="menu-item  "><a href="#">Home Coaching</a></li>
                            <li  class="menu-item "><a href="about-html">About Us</a></li>
                            <li  class="menu-item  menu-item-privacy-policy "><a href="contact-us.html">Contact</a></li>
                            <li  class="menu-item "><a href="#">Language School</a></li>
                            <li  class="menu-item "><a href="#">Conta</a></li>
                         </ul>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-xl-3 col-lg-3 col-sm-6">
                <div class="f-widget-link">
                   <div id="nav_menu-3" class="widget widget_nav_menu">
                      <div class="f-widget-title">
                         <h4>Company Links</h4>
                      </div>
                      <div class="menu-footer-menu-2-container">
                         <ul id="menu-footer-menu-2" class="menu">
                            <li  class="menu-item "><a href="#">Booking Form</a></li>
                            <li  class="menu-item "><a href="#">My account</a></li>
                            <li  class="menu-item "><a href="#">Services Detail</a></li>
                            <li  class="menu-item "><a href="#">Home Education</a></li>
                            <li  class="menu-item "><a href="#">Blog 3 Column</a></li>
                            <li class="menu-item "><a href="#">Courses Style 2</a></li>
                         </ul>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-xl-3 col-lg-3 col-sm-6">
                <div class="f-widget-title">
                   <h4>Contact us</h4>
                </div>
                <div class="sigle-address">
                   <div class="address-icon"><i class="fas fa-map-marker-alt"></i></div>
                   <p>No.123 Chalingt Gates, Supper market New York</p>
                </div>
                <div class="sigle-address">
                   <div class="address-icon"><i class="far fa-envelope-open"></i></div>
                   <p>support@gmail.com</p>
                </div>
                <div class="sigle-address">
                   <div class="address-icon"><i class="fas fa-phone"></i></div>
                   <p>+012 (4567) 789</p>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="container">
       <div class="footer-bottom">
          <div class="row">
             <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="copyright text-left mt-5">
                   <p>Copyright © 2020 Ubuddys All Rights Reserved</p>
                </div>
             </div>
             <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="footer-submenu text-right">
                   <a href=#>News</a><a href=#>Careers</a><a href=#>Services</a>                
                </div>
             </div>
          </div>
       </div>
       <div class="cd-top"></div>
       <div class="cursor"></div>
       <div class="cursor2"></div>
    </div>
 </footer>
 <script src='../assets/js/utils.js'></script>
 <script src='../assets/js/animate.js'></script>
 <script src='../assets/js/bootstrap.js'></script>
 <script src='../assets/js/jquery-magnific-popup.js'></script>
 <script src='../assets/js/owl-carousel.js'></script>
 <script src='../assets/js/vultur-custom.js'></script>
 <script src='../assets/js/jquery.fancybox.js'></script>
 <script src='../assets/js/slick.js'></script>
 <script>

 </script>
</body>
<!-- Mirrored from vultur.drozd.at/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 06 Jun 2020 10:09:14 GMT -->
</html>