<!doctype html>
<html lang="en-US">
 
   <head>   
  
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1" >    
      <title> Ubuddys </title>     
      <link rel="dns-prefetch" href="http://maps.googleapis.com/">
      <link rel="dns-prefetch" href="http://fonts.googleapis.com/">     
      <link rel="alternate" type="application/rss+xml" title="Vultur » Feed" href="feed/#">
      <link rel="alternate" type="application/rss+xml" title="Vultur » Comments Feed" href="comments/feed/#">     
      <link rel="stylesheet" id="bootstrap-css" href="../assets/css/bootstrap.min.css" media="all">
      <link rel="stylesheet" id="owl-carousel-css" href="../assets/css/owl.carousel.min.css" media="all">
      <link rel="stylesheet" id="owl-theme-default-css" href="./assets/css/owl.theme.default.min.css" media="all">
      <link rel="stylesheet" id="slick-css" href="../assets/css/slick.css" media="all">
      <link rel="stylesheet" id="fontawesome5-css" href="../assets/fonts/fontawesome.min.css" media="all">
      <link rel="stylesheet" id="fontawesome4-css" href="../assets/fonts/font-awesome4.min.css" media="all">
      <link rel="stylesheet" id="fancybox-css" href="../assets/css/jquery.fancybox.css" media="all">
      <link rel="stylesheet" id="vultur-white-custom-style-css" href="../assets/css/custom-style.css" media="all">
      <link rel="stylesheet" id="vultur-white-custom-style-css" href="../assets/css/magnific-popup.css" media="all">
      <link rel="stylesheet" id="vultur-white-custom-style-css" href="../assets/css/learn-press.css" media="all">
      <link rel="stylesheet" id="vultur-white-custom-style-css" href="../assets/css/front-gird.css" media="all">
      <link rel="stylesheet" id="vultur-theme-change-css" href="../assets/css/colors/color.css" media="all">
      <script src='../assets/js/jquery.js'></script>
      <script src='../assets/js/plugins.js'></script>
   </head>
   <body>
       <div id="preloader">
         <div id="status">
            <img src="../assets/images/loader.gif" alt="loader">
         </div>
      </div>
      <header>
         <div class="space-stick header_black_white"></div>
         <div id="header" class="transparent-header header_black_white">
            <div class="topheader top_header_theme_color hidemobile">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-6">
                        <div class="top-header-left">
                           <div class="address-icon"><i class="fas fa-phone"></i><a href=tel:123-456-7890>123-456-7890</a></div>
                           <div class="address-icon"><i class="far fa-envelope-open"></i><a href=contact/#>New York, NY 1002</a></div>
                           <div class="address-icon"><i class="fas fa-map-marker-alt"></i><a href=mailto:mail@domain.com>mail@domain.com</a></div>
                        </div>
                     </div>
                     <div class="col-lg-6 text-right">
                        <!-- <div class="custom-page-top">
                           <a href=#>News</a><a href=services-list-2/#>Careers</a>
                           <a href=#>Services</a>                
                        </div> -->
                        <div class="social_top_header">
                           <a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>                    
                        </div>
                        <!-- <div class="header-cta">
                           <a href="#" class="btn-1c">Profile <i class="far fa-user-circle"></i></a>
                        </div> -->
                        <% if ( typeof(usersession) !='undefined') { %>
                           <div class="header-cta">
                              <a href="/login" class="btn-1c">Logout</a>
                           </div>
                        
                        <% }else{ %>
                           <div class="header-cta">
                              <a href="/login" class="btn-1c">Login</a>
                           </div>
                           <div class="header-cta">
                              <a href="/signup" class="btn-1c">Sign Up</a>
                           </div>

                      <%  } %>
                      
                     </div>
                  </div>
               </div>
            </div>
            <nav class="navbar navbar-default navbar-expand-md navbar-light" id="navigation" data-offset-top="1">
               <div class="container">
                  <div class="navbar-header">
                     <div class="navbar-brand">
                        <a href="/">
                        <img src="../assets/images/logo.png" alt="Logo"></a>
                     </div>
                  </div>
                  <div class="burger-icon">
                     <div class="bar1"></div>
                     <div class="bar2"></div>
                     <div class="bar3"></div>
                  </div>
                  <div class="hidemobile header-search">
                     <form method="get" name="search-course" class="learn-press-search-course-form position-relative" action="https://vultur.drozd.at/">
                        <input type="text" name="s" class="search-course-input" value="" placeholder="Search course...">
                        <input type="hidden" name="ref" value="course">
                        <button class="lp-button button search-course-button ">
                        <i class="fas fa-search"></i>
                        </button>
                     </form>
                  </div>
                  <div class="collapse navbar-collapse vultur_menu" id="navbarCollapse">
                     <ul id="primary-menu" class="nav navbar-nav ml-auto">
                        <li  class="menu-item">
                           <a href="/" aria-current="page">Home</a>
                          
                        </li>
                        <li  class="menu-item ">
                           <a href="/aboutus">About Us</a>
                       
                        </li>
                        <li  class="menu-item">
                           <a href="/courses">Courses</a>
                          
                        </li>
                          <li class="menu-item ">
                              <a href="/mycourses">My Courses</a>
                           
                           </li>

                         
                       
                       
                        <li class="menu-item ">
                           <a href="/contactus">Contact</a>
                          
                        </li>
                     </ul>
                     <div class="shop-right">
                        <div class="self-cart-dropdown">
                           <a href="/cart" class="dropdown-back" >
                              <i class="fas fa-shopping-bag"></i>
                              <!-- <div class="basket-item-count" style="display: inline;"><span class="cart-items-count count">0</span></div> -->
                           </a>
                           <!-- <ul class="dropdown-menu dropdown-menu-mini-cart">
                              <li>
                                 <div class="widget_shopping_cart_content">
                                    <p class="woocommerce-mini-cart__empty-message">No products in the cart.</p>
                                 </div>
                              </li>
                           </ul> -->
                        </div>
                     </div>
                  </div>
               </div>
            </nav>
         </div>
      </header>