<!doctype html>
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1" >
      <title> Ubuddys </title>
      <link rel="dns-prefetch" href="http://maps.googleapis.com/">
      <link rel="dns-prefetch" href="http://fonts.googleapis.com/">
      <link rel="alternate" type="application/rss+xml" title="Vultur » Feed" href="feed/#">
      <link rel="alternate" type="application/rss+xml" title="Vultur » Comments Feed" href="comments/feed/#">
      <link rel="stylesheet" id="bootstrap-css" href="./assets/css/bootstrap.min.css" media="all">
      <link rel="stylesheet" id="owl-carousel-css" href="./assets/css/owl.carousel.min.css" media="all">
      <link rel="stylesheet" id="owl-theme-default-css" href="./assets/css/owl.theme.default.min.css" media="all">
      <link rel="stylesheet" id="slick-css" href="./assets/css/slick.css" media="all">
      <link rel="stylesheet" id="fontawesome5-css" href="./assets/fonts/fontawesome.min.css" media="all">
      <link rel="stylesheet" id="fontawesome4-css" href="./assets/fonts/font-awesome4.min.css" media="all">
      <link rel="stylesheet" id="fancybox-css" href="./assets/css/jquery.fancybox.css" media="all">
      <link rel="stylesheet" id="vultur-white-custom-style-css" href="./assets/css/custom-style.css" media="all">
      <link rel="stylesheet" id="vultur-white-custom-style-css" href="./assets/css/front-gird.css" media="all">
      <link rel="stylesheet" id="vultur-white-custom-style-css" href="./assets/css/learn-press.css" media="all">
      <link rel="stylesheet" id="vultur-white-custom-style-css" href="./assets/css/magnific-popup.css" media="all">
      <link rel="stylesheet" id="vultur-theme-change-css" href="./assets/css/colors/color.css" media="all">
      <script src='./assets/js/jquery.js'></script>
      <script src='./assets/js/plugins.js'></script>
   </head>
   <body>
      <div id="preloader">
         <div id="status">
            <img src="./assets/images/loader.gif" alt="loader">
         </div>
      </div>
     <main class="course-item-popup learnpress-page">

    
      <div id="learn-press-content-item">
         <div id="course-item-content-header">
            <div class="course-item-search">
               <form>
                  <input type="text" placeholder="Search item">
                  <button class="" type="button"></button>
               </form>
            </div>
            <h2 class="course-title">
               <a href="../../index.html">Become the PHP Master faster with Ubuddys</a>
            </h2>
            <a class="toggle-content-item" href="#"></a>
            <form class="lp-form form-button lp-button-back" method="post" action="single-course.html">
               <button class="lp-button button">Back to Course</button>
            </form>
         </div>
         <div class="scroll-wrapper content-item-scrollable scrollbar-light" style="position: absolute; top: 0px; bottom: 0px; width: 100%; opacity: 1;">
            <div class="content-item-scrollable scrollbar-light scroll-content" style="height: 300px; margin-bottom: 0px; margin-right: 0px; opacity: 1; max-height: none;">
               <div class="content-item-wrap">
                  <div class="learn-press-content-protected-message">
                     <span class="icon"></span>
                     This content is protected, please <a href="../../../../profile/index936d.html?redirect_to=https%3A%2F%2Fvultur.drozd.at%2Fcourses%2Fbecome-the-php-master-faster-with-vultur%2Flessons%2Flesson-1-copy-4%2F">login</a> and enroll course to view this content!
                  </div>
                  <div class="course-item-nav">
                     <div class="next">
                        <span>Next</span>
                        <a href="../lesson-2-copy-4/index.html">
                        Lesson 2            </a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="scroll-element scroll-x">
               <div class="scroll-element_outer">
                  <div class="scroll-element_size"></div>
                  <div class="scroll-element_track"></div>
                  <div class="scroll-bar" style="width: 0px;"></div>
               </div>
            </div>
            <div class="scroll-element scroll-y">
               <div class="scroll-element_outer">
                  <div class="scroll-element_size"></div>
                  <div class="scroll-element_track"></div>
                  <div class="scroll-bar" style="height: 96px;"></div>
               </div>
            </div>
         </div>
         <div id="course-item-content-footer">
         </div>
      </div>
      <div class="course-curriculum" id="learn-press-course-curriculum">
         <div class="scroll-wrapper curriculum-scrollable scrollbar-light" style="position: absolute; top: 0px; bottom: 0px; width: 100%; opacity: 1;">
            <div class="curriculum-scrollable scrollbar-light scroll-content scroll-scrolly_visible" style="height: auto; margin-bottom: 0px; margin-right: 0px; opacity: 1; max-height: 100%;">
               <ul class="curriculum-sections">
                  <li class="section" id="section-introduction-to-digital-marketing-13" data-id="introduction-to-digital-marketing-13" data-section-id="13">
                     <div class="section-header">
                        <div class="section-left">
                           <h5 class="section-title">Introduction to digital marketing</h5>
                        </div>
                     </div>
                     <ul class="section-content">
                        <li class="course-item course-item-lp_lesson course-item-2437 current item-locked">
                           <a class="section-item-link" href="index.html">
                              <span class="item-name">Lesson 1</span>
                              <div class="course-item-meta">
                                 <i class="fa item-meta course-item-status trans"></i>
                              </div>
                           </a>
                        </li>
                        <li class="course-item course-item-lp_lesson course-item-2438 item-locked">
                           <a class="section-item-link" href="../lesson-2-copy-4/index.html">
                              <span class="item-name">Lesson 2</span>
                              <div class="course-item-meta">
                                 <i class="fa item-meta course-item-status trans"></i>
                              </div>
                           </a>
                        </li>
                        <li class="course-item course-item-lp_lesson course-item-2439 item-locked">
                           <a class="section-item-link" href="../lesson-3-copy-4/index.html">
                              <span class="item-name">Lesson 3</span>
                              <div class="course-item-meta">
                                 <i class="fa item-meta course-item-status trans"></i>
                              </div>
                           </a>
                        </li>
                        <li class="course-item course-item-lp_quiz course-item-2440 item-locked">
                           <a class="section-item-link" href="../../quizzes/quiz-1-copy-4/index.html">
                              <span class="item-name">Quiz 1</span>
                              <div class="course-item-meta">
                                 <span class="item-meta count-questions">10 questions</span><span class="item-meta duration">30 min</span>	        <i class="fa item-meta course-item-status trans"></i>
                              </div>
                           </a>
                        </li>
                     </ul>
                  </li>
                  <li class="section" id="section-digital-marketing-techniques-14" data-id="digital-marketing-techniques-14" data-section-id="14">
                     <div class="section-header">
                        <div class="section-left">
                           <h5 class="section-title">Digital marketing techniques</h5>
                        </div>
                     </div>
                     <ul class="section-content">
                        <li class="course-item course-item-lp_lesson course-item-2451 item-locked">
                           <a class="section-item-link" href="../lesson-14-copy-4/index.html">
                              <span class="item-name">Lesson 14</span>
                              <div class="course-item-meta">
                                 <i class="fa item-meta course-item-status trans"></i>
                              </div>
                           </a>
                        </li>
                        <li class="course-item course-item-lp_lesson course-item-2452 item-locked">
                           <a class="section-item-link" href="../lesson-15-copy-4/index.html">
                              <span class="item-name">Lesson 15</span>
                              <div class="course-item-meta">
                                 <i class="fa item-meta course-item-status trans"></i>
                              </div>
                           </a>
                        </li>
                        <li class="course-item course-item-lp_lesson course-item-2453 item-locked">
                           <a class="section-item-link" href="../lesson-16-copy-4/index.html">
                              <span class="item-name">Lesson 16</span>
                              <div class="course-item-meta">
                                 <i class="fa item-meta course-item-status trans"></i>
                              </div>
                           </a>
                        </li>
                        <li class="course-item course-item-lp_quiz course-item-2454 item-locked">
                           <a class="section-item-link" href="../../quizzes/quiz-2-copy-4/index.html">
                              <span class="item-name">Quiz 2</span>
                              <div class="course-item-meta">
                                 <span class="item-meta count-questions">11 questions</span><span class="item-meta duration">50 min</span>	        <i class="fa item-meta course-item-status trans"></i>
                              </div>
                           </a>
                        </li>
                     </ul>
                  </li>
                  <li class="section" id="section-learn-from-any-location-in-the-world-15" data-id="learn-from-any-location-in-the-world-15" data-section-id="15">
                     <div class="section-header">
                        <div class="section-left">
                           <h5 class="section-title">Learn from any location in the world.</h5>
                        </div>
                     </div>
                     <ul class="section-content">
                        <li class="course-item course-item-lp_lesson course-item-2466 item-locked">
                           <a class="section-item-link" href="../lesson-24-copy-4/index.html">
                              <span class="item-name">Lesson 24</span>
                              <div class="course-item-meta">
                                 <i class="fa item-meta course-item-status trans"></i>
                              </div>
                           </a>
                        </li>
                        <li class="course-item course-item-lp_lesson course-item-2467 item-locked">
                           <a class="section-item-link" href="../lesson-25-copy-4/index.html">
                              <span class="item-name">Lesson 25</span>
                              <div class="course-item-meta">
                                 <i class="fa item-meta course-item-status trans"></i>
                              </div>
                           </a>
                        </li>
                        <li class="course-item course-item-lp_quiz course-item-2468 item-locked">
                           <a class="section-item-link" href="../../quizzes/quiz-3-copy-4/index.html">
                              <span class="item-name">Quiz 3</span>
                              <div class="course-item-meta">
                                 <span class="item-meta count-questions">15 questions</span><span class="item-meta duration">40 min</span>	        <i class="fa item-meta course-item-status trans"></i>
                              </div>
                           </a>
                        </li>
                     </ul>
                  </li>
               </ul>
            </div>
            <!-- <div class="scroll-element scroll-x scroll-scrolly_visible">
               <div class="scroll-element_outer">
                  <div class="scroll-element_size"></div>
                  <div class="scroll-element_track"></div>
                  <div class="scroll-bar" style="width: 0px;"></div>
               </div>
            </div>
            <div class="scroll-element scroll-y scroll-scrolly_visible">
               <div class="scroll-element_outer">
                  <div class="scroll-element_size"></div>
                  <div class="scroll-element_track"></div>
                  <div class="scroll-bar" style="height: 118px; top: 18.2118px;"></div>
               </div>
            </div> -->
         </div>
      </div>
      <div style="left: -1000px; overflow: scroll; position: absolute; top: -1000px; border: none; box-sizing: content-box; height: 200px; margin: 0px; padding: 0px; width: 200px;">
         <div style="border: none; box-sizing: content-box; height: 200px; margin: 0px; padding: 0px; width: 200px;"></div>
      </div>
   </main>
      <script src='./assets/js/utils.js'></script>
      <script src='./assets/js/animate.js'></script>
      <script src='./assets/js/bootstrap.js'></script>
      <script src='./assets/js/jquery-magnific-popup.js'></script>
      <script src='./assets/js/owl-carousel.js'></script>
      <script src='./assets/js/vultur-custom.js'></script>
      <script src='./assets/js/jquery.fancybox.js'></script>
      <script src='./assets/js/slick.js'></script>
      <script></script>
   </body>
   <!-- Mirrored from vultur.drozd.at/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 06 Jun 2020 10:09:14 GMT -->
</html>